---
const { title } = Astro.props;
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import BgImage from '../assets/footer-solid-purple.png'
import { getImage } from 'astro:assets'
const bgImage = await getImage({ src: BgImage })

---
<div id="layout" style={`background-image: url(${bgImage.src});`}>
    <Header />
    <slot />
    <Footer />
</div>

<style>
    #layout {
        width: 100%;
        height: fit-content;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        border: solid 1px;
        margin: 0;
        padding: 0;
    }
</style>