---
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/nursery.css';
import TwoColumns from '../components/TwoColumns.astro';
---

<BaseLayout
	title="Nursery School | Huron Playschool"
	description="Learn about Huron Playschool's Nursery School program"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-10">
			<Hero
				title="Nursery School"
				tagline="Full Day or Morning options for children aged 2 to 6 years"
				align="center"
			/>
			<p>
				Our students are encouraged to care for each other and their environment, play co-operatively, develop their independence, and communicate their needs and interests. Children learn at the Playschool through outdoor play, exploration in nature, gross motor movement, art, and sensory and imaginative play. The program includes regular excursions to local green spaces and parks. Field trips may include outings to libraries, museums, and special events.
			</p>				

			
			<p>
				The school can enrol children in the nursery program for mornings only or for the full day. The program runs from September to June, with a two-week break during winter. The school also offers a summer program to current students. Enrollment for any of our programs may begin at any time during the school year, and fees will be prorated accordingly.
			</p>
			

			<h2>Full Day Program</h2>
			<TwoColumns>
					<section slot="left">
						<p>
							The Full Day Program has space for 16 children, supervised by one Registered Early Childhood Educator (RECE) and two duty parents (or one teacher). Our days follow a flexible routine that helps children become familiar with school life.
						</p>
						<p>
						Each day includes:
						</p>
						<ul>
							<li>free play and planned activities</li>
							<li>circle-time with music, storytelling and movement activities</li>
							<li>healthy morning snack</li>
							<li>healthy lunch</li>
							<li>rest period (or naps for those who need it)</li>
							<li>outdoor play in the local park/green spaces</li>
						</ul>	
					</section>

					<div slot="right">
						<section>
							<table>
								<tbody>
									<tr>
										<td>Drop off</td>
										<td>9:00 AM</td>
									</tr>
									<tr>
										<td>Pick up</td>
										<td>2:45 PM</td>
									</tr>
									<tr>
										<td>Days per week</td>
										<td>5</td>
									</tr>										
									<tr>
										<td>Monthly fee</td>
										<td>$468.56</td>
									</tr>							
									<tr>
										<td>Meals</td>
										<td>Morning snack and Lunch</td>
									</tr>
							</table>
						</section>
					</div>
				</TwoColumns>

			<h2>Morning Program</h2>
			<TwoColumns>
				<section slot="left">
					<p>
						The Morning Program has space for 16 children, supervised by one RECE and two duty parents (or one teacher). Mornings follow a flexible routine that helps children become familiar with school life.
					</p>
					<p>
					Each morning includes:
					</p>
					<ul>
						<li>free play and planned activities</li>
						<li>circle-time with music, storytelling and movement activities</li>
						<li>healthy morning snack</li>
						<li>outdoor play in the local park/green spaces</li>
					</ul>	
				</section>
				<section slot="right">
					<table>
						<tbody>
							<tr>
								<td>Drop off</td>
								<td>9:00 AM</td>
							</tr>
							<tr>
								<td>Pick up</td>
								<td>11:45 AM</td>
							</tr>
							<tr>
								<td>Days per week</td>
								<td>5</td>
							</tr>										
							<tr>
								<td>Monthly fee</td>
								<td>$258.14</td>
							</tr>							
							<tr>
								<td>Meals</td>
								<td>Morning snack</td>
							</tr>
					</table>
				</section>
			</TwoColumns>



		</main>
	</div>
</BaseLayout>

