body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: whitesmoke;
    font-family: "Nunito",Arial,Helvetica,sans-serif
}
    #button, #button:link {
        background-color: darkorange;
        color: white;
        height: 50px;
        width: 200px;
        text-align: center;
        align-items: center;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        padding: auto;
        margin-right: 0;
        margin-left:auto;
        margin-top: auto;
        margin-bottom: auto;
    }
    #button:hover{
        background-color: darkred;
    }
    a:link {
        text-decoration: none;
        color: white
    }