---
import BaseLayout from '../layouts/Layout.astro'
import '../styles/global.css'
import { Picture } from 'astro:assets';
import picture from '../assets/hero-image-small.png'
const title = "Huron Playschool"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<BaseLayout title={title}>
			<div id="main">
				<div id="sides">
					<div id="content">
						<h2 style="text-align: center;">Program Details</h2>
						<p>
						The Full Day Program has space for 16 children supervised by one RECE and two duty parents (or one teacher). Our days follow a loose routine that enables children to familiarize themselves with school life.</p>
						<p>Each day includes:</p>
						<ul>
							<li>free play and planned activities</li>
							<li>circle-time with music, storytelling and movement activities</li>
							<li>healthy morning snack</li>
							<li>healthy lunch *</li>
							<li>rest period (or naps for those who need it) *</li>
							<li>outdoor play in the local park/green spaces</li>
						</ul>
						<p>* Full time only</p>
						<table>
							<thead>
								<th>&emsp;</th>
								<th>Morning</th>
								<th>Full Time</th>
							</thead>
							<tr>
								<td>Drop off</td>
								<td>9:00 AM</td>
								<td>9:00 AM</td>
							</tr>
							<tr>
								<td>Pick up</td>
								<td>11:45 AM</td>
								<td>2:45 PM</td>
							</tr>		
							<tr>
								<td>Days per week</td>
								<td>5</td>
								<td>5</td>
							</tr>														
							<tr>
								<td>Monthly fee</td>
								<td>(pending)</td>
								<td>(pending)</td>
							</tr>							
							<tr>
								<td>Meals</td>
								<td>Morning snack</td>
								<td>Morning snack+Lunch</td>
							</tr>																					
						</table>
						<div id="button" style="margin:auto">
							<a href="https://www.himama.com/online_registration/apply/huron-playschool" target="_blank">Submit a request</a>
						</div>
					</div>

				</div>
				<div id="side-image">
					<Picture src={picture} alt=""/>
				</div>
			</div>
		</BaseLayout>
	</body>
</html>

<style>
	#main {
		width: 80%;
		margin: auto;
		color: black;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	#sides {
		align-items: center;
		margin: auto;
		width: 45%;
	}
	@media only screen and (max-width: 1026px) {
		#sides {
			width: 100%
		}
	}	

	#side-image {
		align-items: center;
		margin: auto;
		width: 45%;
	}
	@media only screen and (max-width: 1026px) {
		#side-image {
			display: none;
			width: 0%
		}
	}	
	#content {
		background-color: beige;
		margin: auto;
		padding: 10px;
		border-radius: 20px;
	}
	table {
		padding: 10px;
		margin: auto;
	}
	table td:nth-child(2) { text-align: end; }
	table td:nth-child(3) { text-align: end; }

</style>