---
import picture from '../assets/logo-small-purple-100.png'
import { Picture } from 'astro:assets';
import '../styles/global.css'

---
<div id="header">
    <Picture src={picture} alt="Huron Playschool logo"/>
    <div id="button">
        <a href="tel:4169771109">
            +1 (416) 977-1109
        </a>
    </div>
</div>
<style>
    #header {
        width: 80%;
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        margin: auto;
    }
</style>
