	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	ul {
		padding-bottom: 2rem;
	}

    h1 {
        margin: 0;
        text-align: center;
    }

    h2 {
        margin: 2rem 0 1rem;
        text-align: center;
    }    

	h3 {
		padding-top: 2rem;
		padding-bottom: 1rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
	}

	.shadowbox {
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			grid-template-columns: 1fr 90% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
		}
	}
